@model Solution.Presentation.Models.OfferVm


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MyLayoutShop.cshtml";

}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Offer", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

   
        <div class="row">
            <!-- Column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form action="#">
                            <div class="form-body">
                                <h5 class="card-title">About Product</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OfferName, htmlAttributes: new { @class = "control-label col-md-5" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.OfferName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.OfferName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-5" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                   
                                    <div class="col-md-8">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Price</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1"><i class="ti-money"></i></span>
                                                    </div>

                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>

                                        <div class="col-md-8">
                                            <h5 class="card-title">Upload Image</h5>
                                            <br />
                                            <div class="fileupload btn btn-info waves-effect waves-light">
                                                <span><i class="ion-upload m-r-5"></i>Upload Image</span>
                                                <input type="file" class="upload" name="file">
                                            </div>
                                        </div>




                                    </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("Products", (SelectList)ViewData["myproducts"])
                                                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                   
                                    <!--/span-->
                                </div>

                                <!--/row-->
                     

                                <hr>
                            </div>
                            <div class="form-actions m-t-40">
                                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                <button type="button" class="btn btn-dark">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>



}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


